<%= turbo_frame_tag "show_content" do %>
  <%= render "show_banner", trip: @trip %>

  <div class="show_tabs" data-controller="tabs">
    <ul class="nav nav-tabs container pt-4" id="tripShow" role="tablist">
      <li class="nav-item" role="presentation">
        <%= link_to "Overview", overview_trip_path(@trip), class: "active nav-link",
                    data: { turbo_frame: :items, tabs_target: "tab", action: "click->tabs#toggle" } %>
      </li>
      <li class="nav-item" role="presentation">
        <%= link_to "Itinerary", itinerary_trip_path(@trip), class: "nav-link",
                    data: { turbo_frame: :items, tabs_target: "tab", action: "click->tabs#toggle" } %>
      </li>
      <li class="nav-item" role="presentation">
        <%= link_to "Expenses", trip_expenses_path(@trip), class: "nav-link",
                    data: { turbo_frame: :items, tabs_target: "tab", action: "click->tabs#toggle" } %>
      </li>
      <li class="nav-item" role="presentation">
        <%= link_to "List", trip_items_path(@trip), class: "nav-link",
                    data: { turbo_frame: :items, tabs_target: "tab", action: "click->tabs#toggle" } %>
      </li>
    </ul>
  </div>
  <%= turbo_frame_tag :items, src: overview_trip_path(@trip) do %>
    <p>Loading...</p>
  <% end %>
<% end %>
