<div class="container pt-5">
  <h1 class="text-blue" ><%= current_user.username.capitalize %>,
    <% if current_user.next_trip %>
      <span style = "display: block;">your next trip is in <%= current_user.next_trip_in %> days.</span>
    <% end %>
    <% if current_user.current_trip %>
      <span style = "display: block;">how is <%= current_user.current_trip.name  %>?</span>
    <% end %>
  </h1>

  <ul class="mt-4">
    <% @trips.each do |trip| %>
      <%= link_to trip_path(trip)  do %>
        <li class="mb-4">
          <div class="card-trip">
            <%= cl_image_tag trip.photo.key %>
            <div class="card-trip-infos">
              <h2><%= trip.name %></h2>
              <p><%= trip.start_date.strftime("%d %b") %> - <%= trip.end_date.strftime("%d %b") %> <%= trip.end_date.strftime("%Y") %></p>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
