<section class="list-section mb-4" data-controller="reveal" data-reveal-hidden-class="d-none">
  <div class="d-flex justify-content-between align-items-start mb-3">
    <div class="d-flex justify-content-start align-items-center">
      <button class="btn text-blue" data-action="click->reveal#toggle" type="button" ><i class="fa-solid fa-caret-down me-3" ></i></button>
      <h2 class="mb-0 text-blue">Transits</h3>
    </div>
    <%= link_to new_trip_transit_path(@trip), class: "button-action", data: {bs_toggle: "modal", bs_target: "#new-transit" } do  %>
      <span class="text-yellow fs-4"><i class="fa-solid fa-plus"></i></span>
    <% end %>
  </div>


  <%#= turbo_frame_tag "transits_turbo_frame" do %>
  <div class="list-transits d-none" data-reveal-target="item" >
    <% if trip.transits.empty? %>
      <p class="text-gray font-italic  mb-0">No transits yet</p>
    <% else %>
      <ul class="transit-list">
        <% trip.transits.each do |transit| %>
          <%= turbo_frame_tag "transit_#{transit.id}" do %>
            <li class="bg-gray transit">
              <h3 class="text-blue fw-bolder"><%= transit.from %> to <%= transit.to %></h3>
              <div class="d-flex justify-content-between align-items-end">
                <div>
                  <p class="text-small mb-1"><%= transit.transport_type %></p>
                  <p class="mb-0"><%= transit.start_time.strftime("%a, %d %b %H:%M") %> - <%= transit.end_time.strftime("%a, %d %b %H:%M") %></p>
                </div>
                <p class="mb-0"><i class="fa-solid fa-circle-chevron-down"></i></p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <%# end %>
  </div>
</section>
