<section class="list-section mb-4"  data-controller="reveal" data-reveal-hidden-class="d-none">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex justify-content-start align-items-center">
      <button class="btn text-blue" data-action="click->reveal#toggle" type="button" ><i class="fa-solid fa-caret-down me-3" ></i></button>
      <h2 class="mb-0 text-blue">Rentals</h3>
    </div>
    <%= link_to new_trip_rental_path(@trip), class: "button-action", data: {bs_toggle: "modal", bs_target: "#new-rental" } do  %>
      <span class="text-yellow fs-4"><i class="fa-solid fa-plus"></i></span>
    <% end %>
  </div>

  <div class="list-rentals d-none" data-reveal-target="item" >
  <%#= turbo_frame_tag "rentals_turbo_frame" do %>
    <% if trip.rentals.empty? %>
      <p class="text-gray font-italic mb-0">No rentals yet</p>
    <% else %>
      <ul class="rental-list">
        <% trip.rentals.each do |rental| %>
          <li class="bg-gray rental">
            <h3 class="text-blue fw-bolder"><%= rental.rental_type %></h3>
            <div class="d-flex justify-content-between align-items-end">
              <div>
                <p class="text-small mb-1"><%= rental.address %></p>
                <p class="mb-0"><%= rental.start_time.strftime("%a, %d %b") %> - <%= rental.end_time.strftime("%a, %d %b") %></p>
              </div>
              <p class="mb-0"><i class="fa-solid fa-circle-chevron-down"></i></p>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  <%# end %>
  </div>
</section>
