<%= turbo_frame_tag :items do %>

  <div class="">
    <%= render "new_form", trip: @trip, item: Item.new  %>
  </div>

  <ul class="checklist list-section bg-white py-3 mt-3 container">
    <div class="checklist-filter d-flex justify-content-end align-items-center container mb-3">
      <%= link_to "Un/Packed", trip_items_path(sort: "status"), class: "btn" %>
      <%= link_to "Category", trip_items_path(sort: "category"), class: "btn" %>
      <i class="fa-solid fa-filter text-blue"></i>
    </div>
    <% if params[:sort] %>
      <% @items.each do |key, items| %>
        <% if params[:sort] == "status" %>
          <h2 class="ms-3"><%= key ? "Packed" : "Unpacked" %></h2>
        <% else %>
          <h2 class="ms-3"><%= key %></h2>
        <% end %>
        <%= render "list_items", items: items %>
      <% end %>
    <% else %>
      <%= render "list_items", items: @items %>
    <% end %>
  </ul>
<% end %>
