<section class="list-section mb-4" data-controller="reveal" data-reveal-hidden-class="d-none">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn d-flex justify-content-start align-items-center" data-action="click->reveal#toggle" >
      <i class="fa-solid fa-caret-down me-3 text-blue"></i>
      <h2 class="mb-0 text-blue">Accomodations</h3>
    </button>
    <%= link_to new_trip_lodging_path(@trip), class: "button-action", data: {bs_toggle: "modal", bs_target: "#new-lodging" } do  %>
      <span class="text-yellow fs-4"><i class="fa-solid fa-plus"></i></span>
    <% end %>
  </div>
  <%#= turbo_frame_tag "lodgings_turbo_frame" do %>
  <div class="list-rentals d-none" data-reveal-target="item" >
    <% if trip.lodgings.empty? %>
      <p class="text-gray font-italic mb-0">No lodgings yet</p>
    <% else %>
      <ul class="lodging-list">
        <% trip.lodgings.each do |lodging| %>
          <%= turbo_frame_tag "lodging_#{lodging.id}"  do %>
            <li class="bg-gray lodging">
              <%= link_to edit_lodging_path(lodging) do  %>
                <h3 class="text-blue fw-bolder"><%= lodging.name %></h3>
                <div class="d-flex justify-content-between align-items-end">
                  <div>
                    <p class="text-small mb-1"><%= lodging.address %></p>
                    <p class="mb-0"><%= lodging.start_time.strftime("%a, %d %b") %> - <%= lodging.end_time.strftime("%a, %d %b") %></p>
                  </div>
                  <p class="mb-0"><i class="fa-solid fa-circle-chevron-down"></i></p>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%# end %>

</section>
